html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top left, #f2cef8, #28b9d5);
    text-align: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    }

.question{
    display: grid;
    grid-template-columns: auto;
    margin: 4rem;
    cursor: pointer;
    color: black;
    padding: 1rem;
    background: radial-gradient(circle at top left, #f2cef8, #ceeaf2);
    border-left: 10px solid #cee4ec;
    border-right: 10px solid #cee4ec;
}

.question:hover{
    color: black;
    background: radial-gradient(circle at top left, #e9abf4, #7fd9f5);
    border-left: 10px solid #e8e8ee;
    border-right: 10px solid #e8e8ee;


}
.show {
    display: block;
}

.hide {
    display: none;
}
.labelParent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; /* Adjust the gap between items */
    padding: 20px;
    justify-items: center;
    align-items: center;
    text-align: left;

}
.questionlabel{
    padding: 10px;
    width: 80%;
    cursor: pointer;
    color: black;
    text-align: left;
    padding: 1.5rem;
    background: radial-gradient(circle at top left, #f2cef8, #ceeaf2);
    border-left: 10px solid #cee4ec;
   
  
}
.questionlabel:hover{
    color: black;
    background: radial-gradient(circle at top left, #e9abf4, #7fd9f5);
    /* color: white;
   background: #b6acb3; */
   border-left: 10px solid #e8e8ee;

}
.circle_border{
    margin-right: 0.6rem;
}
.btn{
    margin:  2rem 0  2.1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 25rem;
    background-color: #0a2a30;
    color: whitesmoke;
    cursor: pointer;
}
.btn:hover{
    background-color: #153c43;   
}
.solutionContainer{
    padding-top: 5rem;
}
.btnGap{
    margin-top: 5rem;

}